{% extends "Product/base.html" %}
{% block title %} Confirm Delete {% endblock title %}
{% load static %}
{% block content %}

<div class="flex justify-center items-start h-screen">
    <div class="text-center">
        <img src="{% static 'images/delete.webp' %}" alt="Plant Image" class="w-2/4 mx-auto"/>
        <h1 class="text-7xl font-bold">Delete Category</h1>
        <p class="text-l font-semibold mt-6 mb-12">Are you sure you want to delete the Category <span class="text-red-500 font-bold text-xl">{{ category.name }}</span>?</p>
            <form method="post">
                {% csrf_token %}
                <div class="text-center pt-8">
                    <div class="text-center mt-4">
                        <button type="submit" class="bg-red-600 text-white py-2 px-16 rounded-lg">
                            Delete
                        </button>
                        <button class="bg-teal-500 text-white py-2 px-14 rounded-lg ml-4">
                            <a href="{% url 'categories:list_categories' %}">Cancel</a>
                        </button>
                    </div>
                </div>
            </form>
        </div>
</div>
{% endblock content %}


