{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/x-icon" href="{% static 'images/box.png' %}">
   <script src="https://cdn.tailwindcss.com"></script>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link rel="stylesheet" href="{% static '/css/style.css' %}">
   <link rel="stylesheet" href="{% static '/css/card.css' %}">
   <link rel="stylesheet" href="{% static '/css/animation.css' %}">
   <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap" rel="stylesheet">
   <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
   <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
   <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

   <title>{% block title %}Product{% endblock %}</title>

</head>

<body>

   <body>
      <nav class="relative px-4 py-4 flex justify-between items-center bg-transparent">
         <a class="text-3xl font-bold leading-none" href="{% url 'Reports:dashboard' %}">
            <img src="{% static 'images/box.png' %}"
               style="width: 70px; padding-left:1rem; z-index: -1; display:flex; flex-direction:column-start;" alt>
         </a>
         <div class="lg:hidden">
            <button class="navbar-burger flex items-center text-blue-800 p-3">
               <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <title>Mobile menu</title>
                  <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
               </svg>
            </button>
         </div>
         <ul
            class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:items-center lg:w-auto lg:space-x-6">
            <li><a class="text-sm text-blue-700 font-bold hover:text-blue-800 transition duration-200"
                  href="{% url 'Product:stock_status' %}">Stock</a></li>
                  
                  <li class="text-gray-300">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                           d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
                     </svg>
                  </li>

            <li><a class="text-sm text-blue-700 font-bold hover:text-blue-900"
                  href="{% url 'Product:product_list' %}">Products</a></li>

                  <li class="text-gray-300">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                           d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
                     </svg>
                  </li>


            <li><a class="text-sm text-blue-700 font-bold hover:text-blue-900"
                  href="{% url 'categories:list_categories' %}">Categories</a></li>

                  <li class="text-gray-300">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                           d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
                     </svg>
                  </li>


            <li><a class="text-sm text-blue-700 font-bold hover:text-blue-900"
                  href="{% url 'Suppliers:supplier_list' %}">Suppliers</a></li>

                  <li class="text-gray-300">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                           d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
                     </svg>
                  </li>


            <li><a class="text-sm text-blue-700 font-bold hover:text-blue-900"
                  href="{% url 'Product:search' %}">Search</a></li>

                  <li class="text-gray-300">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                           d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
                     </svg>
                  </li>


            <li><a class="text-sm text-blue-700 font-bold hover:text-blue-900"
                  href="{% url 'Reports:dashboard' %}">Dashboard</a></li>
         </ul>
         <a class="hidden lg:inline-block py-2 px-6 bg-blue-800 hover:bg-blue-900 text-sm text-white font-bold rounded-xl transition duration-200"
            href="{% url 'Product:login' %}">Log out 👋</a>
      </nav>
      <div class="navbar-menu relative z-1000 hidden">
         <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
         <nav
            class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
            <div class="flex items-center mb-8">
               <a class="mr-auto text-3xl font-bold leading-none" href="#">
                  <img src="{% static 'images/box.png' %}" class="h-20 w-20" alt="">
               </a>
               <button class="navbar-close">
                  <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500"
                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                     <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                     </path>
                  </svg>
               </button>
            </div>
            <div>
               <ul>
                  <li class="mb-1">
                     <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                        href="{% url 'Product:stock_status' %}">Stock</a>
                  </li>
                  <li class="mb-1">
                     <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                        href="{% url 'Product:product_list' %}">Products</a>
                  </li>
                  <li class="mb-1">
                     <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                        href="{% url 'categories:list_categories' %}">Categories</a>
                  </li>
                  <li class="mb-1">
                     <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                        href="{% url 'Suppliers:supplier_list' %}">Suppliers</a>
                  </li>
                  <li class="mb-1">
                     <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                        href="{% url 'Product:search' %}">Search</a>
                  </li>
                  <li class="mb-1">
                     <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                        href="{% url 'Reports:dashboard' %}">Dashboard</a>
                  </li>
               </ul>
            </div>
            <div class="mt-auto">
               <div class="pt-6">
                  <a class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold bg-gray-50 hover:bg-gray-100 rounded-xl"
                     href="{% url 'Product:login' %}">Sign in</a>
                  <a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-blue-600 hover:bg-teal-500 rounded-xl"
                     href="{% url 'Product:signup' %}">Sign Up</a>
               </div>
               <p class="my-4 text-xs text-center text-gray-400">
                  <span>Copyright © 2024</span>
               </p>
            </div>
         </nav>
      </div>

      </div>

      <main>
         {% block content %} {% endblock %}
      </main>

      <footer class="left-0 w-full bg-white shadow dark:bg-blue-800 mt-auto">
         <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
            <span class="text-sm text-white sm:text-center dark:text-white">©
               2024 <a href="#" class="hover:underline">Saqer™</a>. All Rights Reserved
               ❤️.</span>
            <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white dark:text-white sm:mt-0">
               <li>
                  <a href="#" class="hover:underline me-4 md:me-6 transition duration-200">About</a>
               </li>
               <li>
                  <a href="#" class="hover:underline me-4 md:me-6 transition duration-200">Privacy
                     Policy</a>
               </li>
               <li>
                  <a href="#" class="hover:underline me-4 md:me-6 transition duration-200">Licensing</a>
               </li>
               <li>
                  <a href="{% url 'Product:search' %}" class="hover:underline transition duration-200">Search</a>
               </li>
            </ul>
         </div>
      </footer>

      <script>
         // Burger menus
         document.addEventListener('DOMContentLoaded', function () {
            // open
            const burger = document.querySelectorAll('.navbar-burger');
            const menu = document.querySelectorAll('.navbar-menu');

            if (burger.length && menu.length) {
               for (var i = 0; i < burger.length; i++) {
                  burger[i].addEventListener('click', function () {
                     for (var j = 0; j < menu.length; j++) {
                        menu[j].classList.toggle('hidden');
                     }
                  });
               }
            }

            // close
            const close = document.querySelectorAll('.navbar-close');
            const backdrop = document.querySelectorAll('.navbar-backdrop');

            if (close.length) {
               for (var i = 0; i < close.length; i++) {
                  close[i].addEventListener('click', function () {
                     for (var j = 0; j < menu.length; j++) {
                        menu[j].classList.toggle('hidden');
                     }
                  });
               }
            }

            if (backdrop.length) {
               for (var i = 0; i < backdrop.length; i++) {
                  backdrop[i].addEventListener('click', function () {
                     for (var j = 0; j < menu.length; j++) {
                        menu[j].classList.toggle('hidden');
                     }
                  });
               }
            }
         });
      </script>
   </body>

</html>