{% extends "Product/base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
<div class="scale-up-center">

    <section style="height: 800px;">

        <div class="bg-white">
            <div class="relative isolate px-6 pt-14 lg:px-8">
                <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
                    aria-hidden="true">
                    <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                    </div>
                </div>


                <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:py-28">

                    <div class="hidden sm:mb-8 sm:flex sm:justify-center">
                        <div
                            class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                            
                            Announcing our next round of funding. <a href="#" class="font-semibold text-blue-600"><span
                                    class="absolute inset-0" aria-hidden="true"></span>Read more <span
                                    aria-hidden="true">&rarr;</span></a>
                        </div>
                    </div>
                    <div class="text-center">
                        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Saqer 🦅 To Help You
                            With Inventory</h1>
                        <p class="mt-6 text-lg leading-8 text-gray-600">Text About Inventory.</p>
                        <div class="mt-10 flex items-center justify-center gap-x-6">
                            <a href="#"
                                class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Get
                                started</a>
                            <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Learn more <span
                                    aria-hidden="true">→</span></a>

                        </div>
                    </div>
                </div>
                <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
                    aria-hidden="true">
                    <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
                        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="bg-blue-900 place-content-center"  data-aos="fade-up">
        <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
            <div class="mr-auto place-self-center lg:col-span-7" data-aos="fade-right">
                <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white tilt-in-fwd-bl">
                    Text About Inventory System</h1>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400 tilt-in-fwd-bl">
                    Text About Inventory System</p>

            </div>
            <div class="hidden lg:mt-0 lg:col-span-5 lg:flex pl-64" data-aos="fade-left">
                <img src="{% static 'images/box.png' %}" class="w-full object object-contain tilt-in-fwd-bl" alt="falcon">
            </div>
        </div>
    </section>


    <div class="w-full max-w-5xl mx-auto px-4 md:px-6 py-24" >

        <section class="grid gap-12 md:grid-cols-3 md:gap-16">


            <article data-aos="fade-up"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
                <div class="w-14 h-14 rounded shadow-md bg-white flex justify-center items-center rotate-3 mb-6">
                    <svg xmlns="http://www.w3.org/2000/svg" width="31" height="20">
                        <defs>
                            <linearGradient id="icon1-a" x1="50%" x2="50%" y1="0%" y2="100%">
                                <stop offset="0%" stop-color="#A5B4FC" />
                                <stop offset="100%" stop-color="#4F46E5" />
                            </linearGradient>
                            <linearGradient id="icon1-b" x1="50%" x2="50%" y1="0%" y2="100%">
                                <stop offset="0%" stop-color="#EEF2FF" />
                                <stop offset="100%" stop-color="#C7D2FE" />
                            </linearGradient>
                        </defs>
                        <g fill="none" fill-rule="nonzero">
                            <path fill="url(#icon1-a)"
                                d="M20.625 0H9.375a9.375 9.375 0 0 0 0 18.75h11.25a9.375 9.375 0 0 0 0-18.75Z"
                                transform="translate(.885 .885)" />
                            <path fill="url(#icon1-b)"
                                d="M9.375 17.5A8.125 8.125 0 0 1 1.25 9.375 8.125 8.125 0 0 1 9.375 1.25 8.125 8.125 0 0 1 17.5 9.375 8.125 8.125 0 0 1 9.375 17.5Z"
                                transform="translate(.885 .885)" />
                        </g>
                    </svg>
                </div>
                <h2>
                    <span
                        class="flex tabular-nums text-slate-900 text-5xl font-extrabold mb-2 transition-[_--num] duration-[3s] ease-out [counter-set:_num_var(--num)] supports-[counter-set]:before:content-[counter(num)]"
                        x-data="{ shown: false }" x-intersect="shown = true" :class="shown && '[--num:40]'">
                        <span class="supports-[counter-set]:sr-only">40</span>K+
                    </span>
                    <span
                        class="inline-flex font-semibold bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 to-indigo-300 mb-2 ">Text Inventory</span>
                </h2>
                <p class="text-sm text-slate-500">Text Inventory.</p>
            </article>



            <!-- Block #2 -->
            <article data-aos="fade-up"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
                <div class="w-14 h-14 rounded shadow-md bg-white flex justify-center items-center -rotate-3 mb-6">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="19">
                        <defs>
                            <linearGradient id="icon2-a" x1="50%" x2="50%" y1="0%" y2="100%">
                                <stop offset="0%" stop-color="#A5B4FC" />
                                <stop offset="100%" stop-color="#4F46E5" />
                            </linearGradient>
                            <linearGradient id="icon2-b" x1="50%" x2="50%" y1="0%" y2="100%">
                                <stop offset="0%" stop-color="#E0E7FF" />
                                <stop offset="100%" stop-color="#A5B4FC" />
                            </linearGradient>
                        </defs>
                        <g fill="none" fill-rule="nonzero">
                            <path fill="url(#icon2-a)"
                                d="M5.5 0a5.5 5.5 0 0 0 0 11c.159 0 .314-.01.469-.024a15.896 15.896 0 0 1-2.393 6.759A.5.5 0 0 0 4 18.5h1a.5.5 0 0 0 .362-.155C7.934 15.64 11 11.215 11 5.5A5.506 5.506 0 0 0 5.5 0Z" />
                            <path fill="url(#icon2-b)"
                                d="M18.5 0a5.5 5.5 0 0 0 0 11c.159 0 .314-.01.469-.024a15.896 15.896 0 0 1-2.393 6.759.5.5 0 0 0 .424.765h1a.5.5 0 0 0 .363-.155C20.934 15.64 24 11.215 24 5.5A5.506 5.506 0 0 0 18.5 0Z" />
                        </g>
                    </svg>
                </div>
                <h2>
                    <span
                        class="flex tabular-nums text-slate-900 text-5xl font-extrabold mb-2 transition-[_--num] duration-[3s] ease-out [counter-set:_num_var(--num)] supports-[counter-set]:before:content-[counter(num)]"
                        x-data="{ shown: false }" x-intersect="shown = true" :class="shown && '[--num:70]'">
                        <span class="supports-[counter-set]:sr-only">70</span>K+
                    </span>
                    <span
                        class="inline-flex font-semibold bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 to-indigo-300 mb-2">Text Inventory</span>
                </h2>
                <p class="text-sm text-slate-500">Text Inventory</p>
            </article>



            <article data-aos="fade-up"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
                <div class="w-14 h-14 rounded shadow-md bg-white flex justify-center items-center rotate-3 mb-6">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26">
                        <defs>
                            <radialGradient id="icon3-a" cx="68.15%" cy="27.232%" r="67.641%" fx="68.15%" fy="27.232%">
                                <stop offset="0%" stop-color="#E0E7FF" />
                                <stop offset="100%" stop-color="#A5B4FC" />
                            </radialGradient>
                        </defs>
                        <g fill="none" fill-rule="nonzero">
                            <circle cx="13" cy="13" r="13" fill="url(#icon3-a)" />
                            <path fill="#4F46E5" fill-opacity=".56"
                                d="M0 13a12.966 12.966 0 0 0 4.39 9.737l1.15-1.722s.82-.237.997-.555c.554-.997-.43-2.733-.43-2.733a5.637 5.637 0 0 0-.198-1.23c-.148-.369-1.182-.874-1.182-.874S3.73 13.998 3.73 13a1.487 1.487 0 0 1 1.404-1.55 2.424 2.424 0 0 0 1.588-1.146s1.256-.332 1.551-.847c.295-.515-.332-2.36-.332-2.36a3.086 3.086 0 0 0-.012-1.481 2.8 2.8 0 0 0-.93-1.12 6.143 6.143 0 0 0-1.447-2.148A12.981 12.981 0 0 0 0 13ZM13 0c-.35 0-.696.018-1.04.045-.112.35-.695 1.248-.548 1.653.147.406 1.353.783 1.353.783s-.32 1.25.235 1.692c.554.443 1.44-.148 1.773-.037.331.111.258 2.29.258 2.29s1.07 1.181 2.124 1.33c1.053.147 2.656-1.64 2.656-1.64a21.131 21.131 0 0 0 3.448-1.102A12.974 12.974 0 0 0 13 0Z" />
                            <path fill="#6366F1" fill-opacity=".4"
                                d="M21.398 13.848c.296.702-.555 2.494-1.256 2.843a4.76 4.76 0 0 0-1.82 1.452c-.259.406-.598 2.082-1.447 2.415-.85.332-2.863 2.228-3.934 1.932-1.071-.296-1.071-2.842-.333-3.988.441-.683-.074-2.179-.113-2.695-.039-.517-1.586-1.478-1.586-1.994 0-.813 1.772-2.955 1.772-2.955s1.453-.48 1.896-.37c.448.164.877.374 1.28.628.782.058 1.552.22 2.29.48l.848.775s2.107.777 2.403 1.477Z" />
                        </g>
                    </svg>

                </div>
                <h2>
                    <span
                        class="flex tabular-nums text-slate-900 text-5xl font-extrabold mb-2 transition-[_--num] duration-[3s] ease-out [counter-set:_num_var(--num)] supports-[counter-set]:before:content-[counter(num)]"
                        x-data="{ shown: false }" x-intersect="shown = true" :class="shown && '[--num:149]'">
                        <span class="supports-[counter-set]:sr-only">149</span>+
                    </span>
                    <span
                        class="inline-flex font-semibold bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 to-indigo-300 mb-2">Text Inventory</span>
                </h2>
                <p class="text-sm text-slate-500">Text Inventory.</p>
            </article>
        </section>
    </div>
    {% endblock content %}