{% extends 'Product/base.html' %}
{% load static %}

{% block title %} Stock Status {% endblock title %}

{% block content %}
<div class="container mx-auto px-4 py-4">
    <h2 class="bold-font-prop tilt-in-fwd-bl text-3xl font-bold text-blue-800 mb-8">Stock Status</h2>

    <div class="flex justify-end items-end pb-6">
        <button class="py-2 px-4 bg-teal-600 hover:bg-teal-800 text-white font-bold rounded-lg transition duration-200 mr-3">
            <a href="{% url 'Product:export_products_csv' %}" class="text-white">Export to CSV <i class="fas fa-file-csv mr-2"></i></a>
        </button>
        
        <button class="py-2 px-4 bg-green-600 hover:bg-green-900 text-white font-bold rounded-lg transition duration-200 mr-3">
            <a href="{% url 'Product:export_products_excel' %}" class="text-white">Export To Excel <i class="fas fa-file-excel mr-2"></i></a>
        </button>
        
        <a href="{% url 'Notifications:add_email' %}">
            <button class="py-2 px-4 bg-blue-700 hover:bg-blue-800 text-white font-bold rounded-xl mr-3">Add Recipient <i class="fas fa-user-plus mr-2"></i></button>
        </a>
    </div>

    <table class="min-w-full bg-white border border-gray-200 rounded-lg overflow-hidden shadow-lg">
        <thead>
            <tr class="bg-gray-100 border-b border-indigo-400 justify-center text-center items-center">
                <th class="text-center py-4 px-6 font-medium text-gray-600 uppercase tracking-wider">Product Image</th>
                <th class="text-center py-4 px-6 font-medium text-gray-600 uppercase tracking-wider">Product</th>
                <th class="text-center py-4 px-6 font-medium text-gray-600 uppercase tracking-wider">Stock Quantity</th>
                <th class="text-center py-4 px-6 font-medium text-gray-600 uppercase tracking-wider">Expiry Date</th>
                <th class="text-center py-4 px-6 font-medium text-gray-600 uppercase tracking-wider">Status</th>
                <th class="text-center py-4 px-6 font-medium text-gray-600 uppercase tracking-wider">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr class="border-b hover:bg-gray-50 items-center justify-center text-center">
                <td class="text-center py-3 px-6 text-gray-800">
                    <img src="{{ product.product_image.url }}" alt="image" class="w-20 h-20 object-cover items-center rounded-xl"/>

                </td>
                <td class="text-center py-3 px-6 text-gray-800">{{ product.name }}</td>
                <td class="text-center py-3 px-6 text-gray-800 {% if product.stock_quantity == 0 %}text-red-600{% endif %}">{{ product.stock_quantity }}</td>
                <td class="text-center py-3 px-6 ">
                    <div class="py-1 px-1 {% if product.expiration_date and product.expiration_date <= today %}bg-red-500 justify-center text-center text-white rounded-lg {% elif product.expiration_date and product.expiration_date <= one_week_from_today %}bg-yellow-400 justify-center text-center text-white rounded-lg{% else %}text-white bg-teal-500  justify-center text-center rounded-lg{% endif %}">
                        {{ product.expiration_date|date:"Y-m-d" }}
                    </div>
                </td>
                <td class="text-center py-3 px-6 text-white">
                    <div class="text-center py-1 text-gray-800 {% if product.stock_quantity <= 10 %} bg-red-500 justify-center text-center text-white rounded-lg{% elif product.stock_quantity <= 20 %}rounded-lg bg-yellow-400 justify-center text-center text-white{% else %}bg-teal-500 text-white justify-center text-center rounded-lg{% endif %}">
                        {% if product.stock_quantity <= 10 %}
                        Low Stock 
                        {% elif product.stock_quantity <= 20 %}
                        Mid Stock
                        {% else %}
                        High Stock
                        {% endif %}
                    </div>
                </td>
                <td class="py-2 px-4 text-center">
                    <a href="{% url 'Product:update_stock' product.pk %}" class="text-indigo-800">
                        <button class="bg-indigo-600 hover:bg-indigo-800 text-center text-inherit py-2 px-4 text-white rounded-xl">Update </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination Controls -->
    {% if products.has_other_pages %}
    <div class="flex justify-center mt-16 mb-8">
        <div class="flex items-center space-x-2">
            {% if products.has_previous %}
            <a href="?page=1" class="px-4 py-2 bg-blue-800 text-white rounded-lg shadow-md transition duration-300 ease-in-out transform hover:bg-blue-900 hover:scale-105">&laquo; First</a>
            <a href="?page={{ products.previous_page_number }}" class="px-4 py-2 bg-blue-800 text-white rounded-lg shadow-md transition duration-300 ease-in-out transform hover:bg-blue-900 hover:scale-105">Previous</a>
            {% endif %}
            
            <span class="px-4 py-2 text-gray-700 font-semibold">Page {{ products.number }} of {{ products.paginator.num_pages }}</span>
            
            {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}" class="px-4 py-2 bg-blue-800 text-white rounded-lg shadow-md transition duration-300 ease-in-out transform hover:bg-blue-900 hover:scale-105">Next</a>
            <a href="?page={{ products.paginator.num_pages }}" class="px-4 py-2 bg-blue-800 text-white rounded-lg shadow-md transition duration-300 ease-in-out transform hover:bg-blue-900 hover:scale-105">Last &raquo;</a>
            {% endif %}
        </div>
    </div>
    {% endif %}

</div>
<br><br>
{% endblock %}
