{% extends "Product/base.html" %}
{% load static %}
{% block title %} Update Page {% endblock title %}

{% block content %}
<section class="py-16 ">
    <div class="flex justify-center items-center h-screen px-4 py-16 md:px-0">
        <div class="bg-white rounded-xl shadow-xl p-8 w-full max-w-2xl">
            <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Update Product</h2>
            <form method="post" action="{% url 'Product:product_update' product.pk %}" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="mb-6">
                    <label for="name" class="block text-sm font-medium text-gray-700">Name:</label>
                    <input type="text" id="name" name="name" value="{{ product.name }}" minlength="3" max="255" required class="mt-1 p-3 border border-gray-300 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>

                <div class="mb-6">
                    <label for="description" class="block text-sm font-medium text-gray-700">Description:</label>
                    <textarea id="description" name="description" minlength="3" max="512" required class="mt-1 p-3 border border-gray-300 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-500">{{ product.description }}</textarea>
                </div>

                <div class="mb-6">
                    <label for="product_image" class="block text-sm font-medium text-gray-700">Product Image:</label>
                    <input type="file" id="product_image" name="product_image" accept="image/*" class="mt-1 p-3 border border-gray-300 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-500">
                    {% if product.product_image %}
                        <img src="{{ product.product_image.url }}" alt="Current Image" class="mt-4 w-32 h-12 rounded-lg shadow-md">
                    {% endif %}
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
                    <div>
                        <label for="price" class="block text-sm font-medium text-gray-700">Price:</label>
                        <input type="number" id="price" name="price" value="{{ product.price }}" minlength="3"  required class="mt-1 p-3 border border-gray-300 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-500">
                    </div>

                    <div>
                        <label for="stock_quantity" class="block text-sm font-medium text-gray-700">Stock Quantity:</label>
                        <input type="number" id="stock_quantity" name="stock_quantity" value="{{ product.stock_quantity }}" required class="mt-1 p-3 border border-gray-300 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-500">
                    </div>
                </div>

                <div class="mb-6">
                    <label for="expiration_date" class="block text-sm font-medium text-gray-700">Expiration Date:</label>
                    <input type="date" id="expiration_date" name="expiration_date" value="{{ product.expiration_date|date:'Y-m-d' }}" required class="mt-1 p-3 border border-gray-300 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>

                <div class="mb-6">
                    <label for="category" class="block text-sm font-medium text-gray-700">Category:</label>
                    <select id="category" name="category" minlength="1" required class="mt-1 p-3 border border-gray-300 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-500">
                        {% for category in category %}
                            <option value="{{ category.id }}" {% if category.id == product.category.id %}selected{% endif %}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-6">
                    <label for="suppliers" class="block text-sm font-medium text-gray-700">Suppliers:</label>
                    <select id="suppliers" name="suppliers" minlength="1"  required class="mt-1 p-3 border border-gray-300 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-500">
                        {% for supplier in suppliers %}
                            <option value="{{ supplier.id }}" {% if supplier in product.suppliers.all %}selected{% endif %}>{{ supplier.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="text-center pt-8">
                    <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white py-3 px-6 rounded-lg w-full transition duration-300">Update Product</button>
                </div>
            </form>
        </div>
    </div>
    <br><br>


</section>
   
   {% endblock content %}
